@import "foundations/colors";
@import "helpers/mixins";
i{
	vertical-align: middle;
}
nav .button-collapse i {
  font-size: 2.7rem !important;
  height: 56px !important;
  line-height: 56px !important;
}
footer{
	width: 100%;
	min-height: 150px;
	background-color: $darker-gray;
	padding: 24px 12px;
	text-align: center;
	.footer-inner{
		.footer-menu{
			ul{
				li{
					display: inline-block;
					margin: 8px 12px;
					a{
						color: #fff;
						padding: 8px 12px;
						&:hover{
							color: #fff;
						}
					}
				}
			}
		}
		.company-rights{
			p{
				color: #fff;
				a{
					color: $green;
				}
			}
		}
	}
}
.drop-down {
	.drop-down-list{
		position: absolute;
		background-color: #222;
		display: none;
		li{
			float: none;
			border: 0 !important;
		}
	}
	&:hover{
		.drop-down-list{
			display: block;
		}
	}
}
.wrapper{
	min-height: 100vh;
}
.service-introduction{
	padding: 36px 0;
	&.odd{
		background-color: #E8EFEF;
	}
	.icon{
		text-align: center;
		&.odd{
			@media screen and (min-width: 992px){
				text-align: right !important;
			}
		}
		&.even{
			@media screen and (min-width: 992px){
				text-align: left !important;
			}
		}
		img{
			max-width: 250px;
		}
	}
	.text-content{
		padding-top: 16px;
		padding-left: 24px;
		padding-right: 24px;
		@media screen and (min-width: 992px){
			max-width: 450px;
			padding-left: 12px;
			padding-right: 12px;
			&.even{
				margin-left: auto;
			}
		}
		h3{
			color: black;
			font-size: 2em;
		}
		p{
			color: #717071;
		}
	}
}
.row.service-introduction {
  margin-bottom: 0;
}
.go-login{
  background: rgb(0, 208, 173);
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  margin-top: 36px;
  h4{
  	color: #fff;
  	margin-bottom: 40px;
  	font-size: 1.6em;
  }
}
.list-icon{
  display: inline-block !important;
  margin-right: 5px;
}
.order-complete{
	.notice{
		margin: 24px 0 48px 0;
		h5{
			text-align: center;
		}
		i{
			margin-right: 12px;
			font-size: 5em;
			display: inline-block;
		}
	}
	.payment{
		.title{
			font-size: 1.6em;
			text-align: center;
		}
		.description{
			font-size: 1.2em;
			color: #F5A623;
			text-align: center;
			margin-bottom: 24px;
		}
		.payment-countdown{

		}
		.payment-info{
			background-color: rgb(249, 249, 249);
			padding: 24px 36px;
			box-shadow: 1px 1px 2px rgba(0,0,0,.2);

			.inner{
				p{

				}
				.payment-notice{
					background-color: #F5A623;
					padding: 12px 24px;
					text-align: center;
					margin: 24px 0;
					i{
						font-size: 1.8em;
					}
					p{
						color: #fff;
						font-size: 1em;
					}
				}
			}
		}
	}
	.order-info{
		padding: 24px 24px;
		.title{
			font-size: 1.6em;
			text-align: center;
		}
	}
}
.situation-not-send{
	background-color: $orange;
	color: #fff;
	border-radius: 8px;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-send{
	background-color: $dark-gray;
	color: #fff;
	border-radius: 8px;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-got{
	background-color: $green;
	color: #fff;
	border-radius: 8px;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.situation-has-paid{
	background-color: $green;
	color: #fff;
	border-radius: 8px;
	padding: 3px 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.leader-name{
	display: inline-block;
	font-weight: 600;
}
.leader-avatar{
	display: inline-block;
	border-radius: 1000px;
	border: 2px solid $dark-gray;
	overflow: hidden;
	margin: 0 8px;
	vertical-align: middle;
	width: 35px;
}
.orders{
	.orders-inner{
		.order-item{
			border: 1.5px solid gray;
			border-radius: 8px;
			.order-title{
				background-color: $green;
				color: #fff;
				font-size: 1.2em;
				padding: 8px 12px;
			}
			.groups{

				table{
					thead{
						tr{
							background-color: #BDBDBD;
							th{
								padding: 8px 0;
								border-radius: 0;
							}
						}
					}
					tbody{
						tr{
							td{
								a{
									color: $green;
									display: block;
								}
								p{
									margin: 0;
								}
							}
						}
					}
				}
				.group-item{
					width: 25%;
					max-width: 150px;
					height: auto;
					position: relative;
					margin-top: 150px;
					text-align: center;
					border: 1px solid $dark-gray;
					border-radius: 8px;

					.leader-avatar{
						position: absolute;
						border-radius: 1000px;
						overflow: hidden;
						border: 2px solid;
						height: 150px;
						top: -150px;
						a{
							display: block;
							img{

							}
							.group-situation{
								background-color: $green;
								color: #fff;
							}
						}
					}
					.leader-name{
						background-color: $green;
						color: #fff;
					}
					.lecturer-name{
						display: inline-block;
					}
					.course-name{
						display: inline-block;
					}
					.pickup-location{

					}
				}
			}
			.order-info{
				display: none;
				padding: 12px 24px 48px 24px;
			}
			.payment-counter{
				position: relative;
				&.trigger-active{
					border-bottom: 1px solid;
				}
				.order-info-trigger{
					cursor: pointer;
					position: absolute;
					background-color: $dark-gray;
					padding: 8px 16px;
					height: 44px;
					border-radius: 0 0 8px 8px;
					color: #fff;
					left: 50%;
					transform: translateX(-50%);
					-moz-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					-o-transform: translateX(-50%);

					&:hover{
						background-color: $green !important;
					}
					p{
						display: inline;
					}
				}
			}
		}
	}
}
.login-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 14px;
		right: 18px;
		z-index: 99999999999;
		display: none;

		a{
			padding: 6px 12px;
			background-color: $green;
			display: block;
			font-size: 12px;
			color: #fff;
			border-radius: 4px;
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}
.shopping-cart-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 10px;
		right: 18px;
		z-index: 99999999999;


		a{
			display: block;
			font-size: 20px;
			color: black;
			i{
				color: black;
				font-size: 24px;
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}
.garbage-can-delete{
	background-image: image-url('garbage-can.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 19px;
	height: 24px;
	background-color: transparent;
	border: 0 !important;
}
.user-guide{
	padding: 36px 0;
	&.even{
		background-color: rgb(247, 247, 247);
	}
	.icon{

	}
	.icon-title{
		font-size: 2em;
		text-align: center;
	}
	.icon-description{
		text-align: center;
		font-size: 1.2em;
		color: $green;
	}
	.info{
		padding: 12px 24px;

		h5{
			font-size: 1.6em;
			color: $green;
		}
		p{
			color: $dark-gray;
		}
	}
	.steps{
		padding: 12px 24px;

		.step{
			padding: 12px 0;
			.step-title{
				font-size: 1.2em;
				background-color: $darker-gray;
				color: #fff;
				border-radius: 24px;
				max-width: 200px;
				text-align: center;
				padding: 8px 0;
			}
			.step-description{
				font-size: 1.1em;
				color: $dark-gray;
				padding: 0px 16px 24px 16px;
				letter-spacing: 1px;
			}
		}
	}
}
.pin-menu.fixed-menu{
	position: fixed;
	top: 120px;
}
.table-of-contents{
	a{
		height: 1.8em;
		line-height: 1.8em;
		font-size: 1.4em;

		&.active{
			border-left: 2px solid $green;
		}
		&:hover{
			border-left: 1px solid $green;
		}
	}
}
.supermarket-payment-info-item{
	a{
		display: block;
		text-align: center;
		img{
			max-width: 150px;
			display: block;
			margin: 0 auto;
		}
		button{
			margin-top: 16px;
			margin: 16px auto;
		}
	}
}
button.look-btn {
	background: transparent;
	border: 0;
	font-size: 2em;
	color: black;
}
.group-show-book-info{
	.title{
		font-size: 2em;
	}
	.book-pic{
		width: 30px;
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-name{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-author{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
	.book-edition{
		display: inline-block;
		font-size: 1.4em;
		margin: 0 12px;
	}
}
.group-show-members{
	margin-top: 36px;

	.title{
		font-size: 2em;
	}
}
.books-counter{
	.total-left{
		color: $green;
		font-size: 1.6em;
	}
	margin-bottom: 24px;
}
#typeform-wrapper{
	z-index: 999999999999 !important;
	width: 100% !important;

	> img{
		width: 40px !important;
		background-color: black !important;
		right: 12px !important;
	}
}
.issue-response-btn{
	position: fixed;
	left: 12px;
	bottom: 12px;
	background-color: rgb(51, 199, 171);
	border-radius: 8px;

	a{
		color: #fff;
	}
}
.upload-books{
	.step{
		background-color: #fff;
		padding: 36px 12px;
		.title{
			font-size: 1.6em;
			text-align: center;
		}
		.inner{
			padding: 12px 24px;
		}
	}
	.upload-books-step{
		width: 100%;
		height: 100%;
		overflow: auto;
		position: absolute;
		background-color: #EEE;
		padding: 36px 12px;
		opacity: 0;
		visibility: hidden;

		@include transition-all(0.3s);

		&.active{
			opacity: 1;
			visibility: visible;
		}
	}
	.upload-books-step1{
		z-index: 3;
	}
	.upload-books-step2{
		z-index: 2;
		.lecturer-search-results{
			height: 300px;
			overflow-y: auto;
			border: 1px solid rgb(240,240,240);

			.lecturer-item{
				padding: 12px 24px;
				cursor: pointer;

				&:hover{
					background-color: $green !important;
					color: #fff;
				}

				&:nth-child(2n-1){
					background-color: #eee;
				}
			}
		}
	}
	.upload-books-step3{
		z-index: 1;
		.courses-results{
			height: 300px;
			overflow-y: auto;
			padding: 0;

			.course-option{
				padding: 16px 12px;
				text-align: center;
				background-color: $darker-gray;
				color: #fff;
				cursor: pointer;

				&:hover{
					opacity: 0.8;
				}

				&.active{
					background-color: #fff !important;
					color: $darker-gray !important;
				}
			}
		}
		.course-book-confirm-option{
			background-color: #fff;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			width: 100%;
			min-height: 400px;
			max-height: 800px;
			@include transition-all(0.3s);

			&.active{
				opacity: 1;
				visibility: visible;
			}

			.book-info{
				.book-img{
					width: 50%;
					float: left;
					text-align: center;
					img{
						max-width: 100px;
						width: 100%;
					}
				}
				.book-info-inner{
					display: inline-block;
  					vertical-align: middle;
  					width: 50%;
				}
				.confirm{
					text-align: center;
					color: #26A69A;
					padding: 12px;
				}
			}
			.change-book-search-field{
				.books-search-results{
					height: 300px;
					overflow-y: auto;
					border: 1px solid rgb(240,240,240);

					.book-item{
						.book-img{
							width: 60px;
						}
						.book-info{

						}
					}
				}
			}
		}
		.course-book-confirm-option-field{
			padding: 0;

			.title{
				background-color: $green;
				color: #fff;
				padding: 6px 0;
			}
			.inner{
				padding: 0 !important;

				.course-book-confirm-option{
					padding: 36px 24px;
				}
			}
		}
		.courses-select-options{
			padding: 0 !important;

			.title{
				background-color: $green;
				color: #fff;
				padding: 6px 0;
			}
		}
	}
}
