/* line 2, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
i {
  vertical-align: middle; }

/* line 5, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
nav .button-collapse i {
  font-size: 2.7rem !important;
  height: 56px !important;
  line-height: 56px !important; }

/* line 10, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.service-introduction {
  padding: 36px 0; }
  /* line 12, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .service-introduction.odd {
    background-color: #E8EFEF; }
  /* line 15, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .service-introduction .icon {
    text-align: center; }
    @media screen and (min-width: 992px) {
      /* line 17, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .service-introduction .icon.odd {
        text-align: right !important; } }
    @media screen and (min-width: 992px) {
      /* line 22, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .service-introduction .icon.even {
        text-align: left !important; } }
    /* line 27, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .service-introduction .icon img {
      max-width: 250px; }
  /* line 31, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .service-introduction .text-content {
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px; }
    @media screen and (min-width: 992px) {
      /* line 31, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .service-introduction .text-content {
        max-width: 450px;
        padding-left: 12px;
        padding-right: 12px; }
        /* line 39, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
        .service-introduction .text-content.even {
          margin-left: auto; } }
    /* line 43, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .service-introduction .text-content h3 {
      color: black;
      font-size: 2em; }
    /* line 47, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .service-introduction .text-content p {
      color: #717071; }

/* line 52, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.row.service-introduction {
  margin-bottom: 0; }

/* line 55, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.go-login {
  background: #00d0ad;
  padding-top: 80px;
  padding-bottom: 150px;
  text-align: center;
  margin-top: 36px; }
  /* line 61, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .go-login h4 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 1.6em; }

/* line 67, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.list-icon {
  display: inline-block !important;
  margin-right: 5px; }

/* line 72, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.order-complete .notice {
  margin: 24px 0 48px 0; }
  /* line 74, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .order-complete .notice h5 {
    text-align: center; }
  /* line 77, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .order-complete .notice i {
    margin-right: 12px;
    font-size: 5em;
    display: inline-block; }
/* line 84, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.order-complete .payment .title {
  font-size: 1.6em;
  text-align: center; }
/* line 88, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.order-complete .payment .description {
  font-size: 1.2em;
  color: #F5A623;
  text-align: center;
  margin-bottom: 24px; }
/* line 97, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.order-complete .payment .payment-info {
  background-color: #f9f9f9;
  padding: 24px 36px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }
  /* line 106, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .order-complete .payment .payment-info .inner .payment-notice {
    background-color: #F5A623;
    padding: 12px 24px;
    text-align: center;
    margin: 24px 0; }
    /* line 111, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .order-complete .payment .payment-info .inner .payment-notice i {
      font-size: 1.8em; }
    /* line 114, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .order-complete .payment .payment-info .inner .payment-notice p {
      color: #fff;
      font-size: 1em; }
/* line 122, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.order-complete .order-info {
  padding: 24px 24px; }
  /* line 124, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .order-complete .order-info .title {
    font-size: 1.6em;
    text-align: center; }

/* line 130, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.situation-not-send {
  background-color: #F5A623;
  color: #fff;
  border-radius: 8px;
  padding: 3px 0;
  text-align: center;
  width: 100px;
  margin: 0 auto; }

/* line 139, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.situation-has-send {
  background-color: #717071;
  color: #fff;
  border-radius: 8px;
  padding: 3px 0;
  text-align: center;
  width: 100px;
  margin: 0 auto; }

/* line 148, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.situation-has-got {
  background-color: #33C7AB;
  color: #fff;
  border-radius: 8px;
  padding: 3px 0;
  text-align: center;
  width: 100px;
  margin: 0 auto; }

/* line 157, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.situation-has-paid {
  background-color: #33C7AB;
  color: #fff;
  border-radius: 8px;
  padding: 3px 0;
  text-align: center;
  width: 100px;
  margin: 0 auto; }

/* line 166, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.leader-name {
  display: inline-block;
  font-weight: 600; }

/* line 170, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.leader-avatar {
  display: inline-block;
  border-radius: 1000px;
  border: 2px solid #717071;
  overflow: hidden;
  margin: 0 8px;
  vertical-align: middle;
  width: 50px; }

/* line 181, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.orders .orders-inner .order-item {
  border: 1.5px solid gray;
  border-radius: 8px; }
  /* line 184, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .order-title {
    background-color: #33C7AB;
    color: #fff;
    font-size: 1.2em;
    padding: 8px 12px; }
  /* line 194, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .groups table thead tr {
    background-color: #BDBDBD; }
    /* line 196, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .groups table thead tr th {
      padding: 8px 0;
      border-radius: 0; }
  /* line 205, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .groups table tbody tr td a {
    color: #33C7AB;
    display: block; }
  /* line 209, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .groups table tbody tr td p {
    margin: 0; }
  /* line 216, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .groups .group-item {
    width: 25%;
    max-width: 150px;
    height: auto;
    position: relative;
    margin-top: 150px;
    text-align: center;
    border: 1px solid #717071;
    border-radius: 8px; }
    /* line 226, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .groups .group-item .leader-avatar {
      position: absolute;
      border-radius: 1000px;
      overflow: hidden;
      border: 2px solid;
      height: 150px;
      top: -150px; }
      /* line 233, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .orders .orders-inner .order-item .groups .group-item .leader-avatar a {
        display: block; }
        /* line 238, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
        .orders .orders-inner .order-item .groups .group-item .leader-avatar a .group-situation {
          background-color: #33C7AB;
          color: #fff; }
    /* line 244, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .groups .group-item .leader-name {
      background-color: #33C7AB;
      color: #fff; }
    /* line 248, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .groups .group-item .lecturer-name {
      display: inline-block; }
    /* line 251, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .groups .group-item .course-name {
      display: inline-block; }
  /* line 259, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .order-info {
    display: none;
    padding: 12px 24px 48px 24px; }
  /* line 263, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .orders .orders-inner .order-item .payment-counter {
    position: relative; }
    /* line 265, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .payment-counter.trigger-active {
      border-bottom: 1px solid; }
    /* line 268, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .orders .orders-inner .order-item .payment-counter .order-info-trigger {
      cursor: pointer;
      position: absolute;
      background-color: #717071;
      padding: 8px 16px;
      height: 44px;
      border-radius: 0 0 8px 8px;
      color: #fff;
      left: 50%;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%); }
      /* line 283, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .orders .orders-inner .order-item .payment-counter .order-info-trigger:hover {
        background-color: #33C7AB !important; }
      /* line 286, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .orders .orders-inner .order-item .payment-counter .order-info-trigger p {
        display: inline; }

@media screen and (max-width: 992px) {
  /* line 294, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .login-mobile-btn {
    position: fixed;
    top: 14px;
    right: 18px;
    z-index: 99999999999;
    display: none; }
    /* line 302, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .login-mobile-btn a {
      padding: 6px 12px;
      background-color: #33C7AB;
      display: block;
      font-size: 12px;
      color: #fff;
      border-radius: 4px; } }
@media screen and (min-width: 992px) {
  /* line 294, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .login-mobile-btn {
    display: none; } }

@media screen and (max-width: 992px) {
  /* line 315, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .shopping-cart-mobile-btn {
    position: fixed;
    top: 10px;
    right: 18px;
    z-index: 99999999999; }
    /* line 323, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .shopping-cart-mobile-btn a {
      display: block;
      font-size: 20px;
      color: black; }
      /* line 327, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .shopping-cart-mobile-btn a i {
        color: black;
        font-size: 24px; } }
@media screen and (min-width: 992px) {
  /* line 315, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .shopping-cart-mobile-btn {
    display: none; } }

/* line 337, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.garbage-can-delete {
  background-image: url("../images/garbage-can.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 19px;
  height: 24px;
  background-color: transparent;
  border: 0 !important; }

/* line 347, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.user-guide {
  padding: 36px 0; }
  /* line 349, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .user-guide.even {
    background-color: #f7f7f7; }
  /* line 355, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .user-guide .icon-title {
    font-size: 2em;
    text-align: center; }
  /* line 359, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .user-guide .icon-description {
    text-align: center;
    font-size: 1.2em;
    color: #33C7AB; }
  /* line 364, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .user-guide .info {
    padding: 12px 24px; }
    /* line 367, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .user-guide .info h5 {
      font-size: 1.6em;
      color: #33C7AB; }
    /* line 371, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .user-guide .info p {
      color: #717071; }
  /* line 375, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .user-guide .steps {
    padding: 12px 24px; }
    /* line 378, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
    .user-guide .steps .step {
      padding: 12px 0; }
      /* line 380, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .user-guide .steps .step .step-title {
        font-size: 1.2em;
        background-color: #3B3A3B;
        color: #fff;
        border-radius: 24px;
        max-width: 200px;
        text-align: center;
        padding: 8px 0; }
      /* line 389, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
      .user-guide .steps .step .step-description {
        font-size: 1.1em;
        color: #717071;
        padding: 0px 16px 24px 16px;
        letter-spacing: 1px; }

/* line 398, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.pin-menu.fixed-menu {
  position: fixed;
  top: 120px; }

/* line 403, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.table-of-contents a {
  height: 1.8em;
  line-height: 1.8em;
  font-size: 1.4em; }
  /* line 408, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .table-of-contents a.active {
    border-left: 2px solid #33C7AB; }
  /* line 411, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .table-of-contents a:hover {
    border-left: 1px solid #33C7AB; }

/* line 417, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.supermarket-payment-info-item a {
  display: block;
  text-align: center; }
  /* line 420, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .supermarket-payment-info-item a img {
    max-width: 150px;
    display: block;
    margin: 0 auto; }
  /* line 425, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .supermarket-payment-info-item a button {
    margin-top: 16px;
    margin: 16px auto; }

/* line 431, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
button.look-btn {
  background: transparent;
  border: 0;
  font-size: 2em;
  color: black; }

/* line 438, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-book-info .title {
  font-size: 2em; }
/* line 441, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-book-info .book-pic {
  width: 30px;
  display: inline-block;
  font-size: 1.4em;
  margin: 0 12px; }
/* line 447, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-book-info .book-name {
  display: inline-block;
  font-size: 1.4em;
  margin: 0 12px; }
/* line 452, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-book-info .book-author {
  display: inline-block;
  font-size: 1.4em;
  margin: 0 12px; }
/* line 457, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-book-info .book-edition {
  display: inline-block;
  font-size: 1.4em;
  margin: 0 12px; }

/* line 463, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.group-show-members {
  margin-top: 36px; }
  /* line 466, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .group-show-members .title {
    font-size: 2em; }

/* line 470, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
.books-counter {
  margin-bottom: 24px; }
  /* line 471, /Users/Lucas/Desktop/Colorgy_v2/source/stylesheets/main.scss */
  .books-counter .total-left {
    color: #33C7AB;
    font-size: 1.6em; }
