<div class="navbar-fixed">
    <nav>
        <div class="top">
            <div class="top-bar">
                <ul>
                    <li>
                      <a href="/ColorgyV2-frontend/QA.html">
                        常見問題
                      </a>
                    </li>
                    <li class="go-checkout">
                      <a href="/ColorgyV2-frontend/cart.html">
                        <i class="mdi-action-shopping-cart list-icon"></i>
                        前往結帳 (<span class="cart-item-counts">0</span>)
                      </a>
                    </li>
                    <li class="drop-down">
                      <a href="">
                        Hi, 劉政軒 :D

                      </a>
                      <ul class="drop-down-list">
                        <li>
                          <a href="/ColorgyV2-frontend/orders.html">
                            訂單查詢
                          </a>
                        </li>
                        <li>
                          <a href="/ColorgyV2-frontend/leader-group-index.html">
                            主揪介面
                          </a>
                        </li>
                        <li>
                          <a href="/ColorgyV2-frontend/upload-books.html">
                            我要上書
                          </a>
                        </li>
                        <li style="display: none;">
                          <a href="/ColorgyV2-frontend/user-guide.html">
                            使用流程
                          </a>
                        </li>
                        <li style="display: none;">
                          <a href="mobile.html">
                            建議書單
                          </a>
                        </li>
                        <li>
                          <a href="#">登出</a>
                        </li>
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-wrapper">
          <a href="/ColorgyV2-frontend" class="brand-logo"><%= image_tag('colorgy-books-logo.png') %></a>
          <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down main-nav">
            <li class="group-up">
              <a href="/ColorgyV2-frontend/groupon.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="主揪或是班代可以在這邊選擇課程&書籍開團讓同學們跟團喲！">
                <i class="mdi-content-send list-icon"></i>
                開始揪團
              </a>
            </li>
            <li>
              <a href="/ColorgyV2-frontend/book-browser.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="書籍總覽！可以利用課程、老師、isbn等關鍵字搜尋書籍！">
                <i class="mdi-av-my-library-books list-icon"></i>
                書庫瀏覽
              </a>
            </li>
            <li>
              <a href="/ColorgyV2-frontend/follow-group.html" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="所有團購總覽！同學們可以從這邊找到已開的團！">
                <i class="mdi-social-group-add list-icon"></i>
                即時跟團 (<span id="group-counter">0</span>)
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li id="personal-menu"><div class="personal-avatar"><%= image_tag('avatar.jpg') %></div><a href="#personal-menu">個人工具列<i class="mdi-hardware-keyboard-arrow-up personal-menu-trigger" style="display: inline-block;"></i></a></li>
            <ul class="personal-menu-collapse">
                <li>
                  <a href="/ColorgyV2-frontend/cart.html">
                    <i class="mdi-action-shopping-cart list-icon"></i>
                    前往結帳 (<span class="cart-item-counts">0</span>)
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/orders.html">
                    <i class="mdi-action-receipt list-icon"></i>
                    訂單查詢
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/leader-group-index.html">
                    <i class="mdi-social-mood list-icon"></i>
                    主揪介面
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/user-guide.html">
                    <i class="mdi-action-view-carousel list-icon"></i>
                    使用流程
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/QA.html">
                    <i class="mdi-action-info-outline list-icon"></i>
                    常見問題
                  </a>
                </li>
                <li>
                  <a href="/ColorgyV2-frontend/upload-books.html">
                    <i class="mdi-file-file-upload list-icon"></i>
                    我要上書！
                  </a>
                </li>
            </ul>
            <li><a href="/ColorgyV2-frontend/groupon.html">開始揪團</a></li>
            <li><a href="/ColorgyV2-frontend">書庫瀏覽</a></li>
            <li><a href="/ColorgyV2-frontend/follow-group.html">即時跟團 (0)</a></li>
            <li><a href="mobile.html">建議書單</a></li>
          </ul>
          <div class="clear" style="clear:both;"></div>
        </div>
    </nav>
</div>
<div class="login-mobile-btn">
  <a href="#">
    馬上登入
  </a>
</div>
<div class="shopping-cart-mobile-btn">
  <a href="/ColorgyV2-frontend/cart.html">
    <i class="mdi-action-shopping-cart"></i>
    (<span class="cart-item-counts">0</span>)
  </a>
</div>
<script>
  $(".button-collapse").sideNav();
  $('#personal-menu').click(function(){
    $('.personal-menu-collapse').slideToggle(500);
    if($('.personal-menu-trigger').hasClass('mdi-hardware-keyboard-arrow-down')){
      $('.personal-menu-trigger').removeClass('mdi-hardware-keyboard-arrow-down').addClass('mdi-hardware-keyboard-arrow-up');
    }
    else{
      $('.personal-menu-trigger').removeClass('mdi-hardware-keyboard-arrow-up').addClass('mdi-hardware-keyboard-arrow-down');
    }
  })
</script>
