<div class="navbar-fixed">
    <nav>
        <div class="top">
            <div class="top-bar">
                <ul>
                    <li><a href="">常見問題</a></li>
                    <li><a href="">訂單查詢</a></li>
                    <li><a href="/ColorgyV2-frontend/cart.html">購物書包</a></li>
                    <li><a href="">劉政軒</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-wrapper">
          <a href="/ColorgyV2-frontend" class="brand-logo"><%= image_tag('colorgy-logo.png') %></a>
          <a href="/ColorgyV2-frontend" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down main-nav">
            <li class="group-up"><a href="sass.html">開始揪團</a></li>
            <li><a href="/ColorgyV2-frontend">書庫瀏覽</a></li>
            <li><a href="/ColorgyV2-frontend/follow-group.html">即時跟團</a></li>
            <li><a href="mobile.html">建議書單</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">開始揪團</a></li>
            <li><a href="/ColorgyV2-frontend">書庫瀏覽</a></li>
            <li><a href="/ColorgyV2-frontend/follow-group.html">即時跟團</a></li>
            <li><a href="mobile.html">建議書單</a></li>
          </ul>
          <div class="clear" style="clear:both;"></div>
        </div>
    </nav>
</div>
<script>
   $(".button-collapse").sideNav();
</script>
