<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=630424637093473";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container-fluid">
	<div class="row row-inner-m book-show">
		<div class="col m12 s12">
			<div class="row">
				<div class="message-bar-container">
					<div class="message">
						<div class="message-close-btn"><i class="material-icons">close</i></div>
						<div class="row">
							<div class="col m2 s12">
								<div class="message-icon">

								</div>
							</div>
							<div class="col m10 s12">
								<div class="message-content">
									<p>請勾擇您要跟的團或是自行購買，確定數量之後按底下的 "放入購物車"。<br>
									您也可以用FB分享或傳送轉貼至系版或朋友讓他們來跟團。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="book-show-box">
					<div class="col m4 s12">
						<div class="book-pic">
							<%= image_tag ('book-sample1.jpg'), :class=>"materialboxed responsive-img" , width: '250' %>
						</div>
					</div>
					<div class="col m8 s12">
						<div class="book-info">
							<div class="book-info-inner">
								<div class="book-name">
									Microelectronic Circuits
								</div>
								<hr>
								<div class="share-field">
									<div class="fb-share-button" data-href="http://chenghsuanliu.github.io/ColorgyV2-frontend/books-show.html" data-layout="button_count"></div>
									<div class="fb-send" data-href="http://chenghsuanliu.github.io/ColorgyV2-frontend/books-show.html"></div>
								</div>
								<div class="book-from">
									出版社：滄海書局
								</div>
								<div class="book-edition">
									版次：10
								</div>
								<div class="book-isbn">
									ISBN：202004829194002934020104
								</div>
								<div class="book-author">
									作者：Sedra Smith
								</div>
							</div>
							<div class="book-price">
								<span class="book-disc-price">團購價：NT 986</span>
								<span class="book-orginal-price"><del>定價：NT 1060</del></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col m12 s12">
			<div class="group-field">
					<div class="under-line-title">
						<span>選擇跟團</span>
					</div>
					<div class="groups-select-field">
						<p>
							<input class="with-gap" name="group" type="radio" id="checkbox1" />
							<label for="checkbox1">
							電子學/彭盛裕老師 (W3 W4 F7) --- 劉政軒揪團（1/30截止繳費)
							</label>
						</p>
						<p>
							<input class="with-gap" name="group" type="radio" id="checkbox2" disabled="disabled" />
							<label for="checkbox2">
							電子學 / 馬英九老師 (M6 M7 T4)
							<a href="#">邀請班代開團</a>
							<a href="#">開團成功通知我</a>
							</label>
						</p>
					</div>
				<div class="buy-my-self-field">
					<div class="under-line-title">
						<span>直接購買</span>
					</div>
					<div class="groups-select-field">
						<p>
							<input class="with-gap" name="group" type="radio" id="checkbox4" />
							<label for="checkbox4">
							我不跟團 直接購買到指定配送地點 ( 未滿3本需負擔 150 元運費。 )
							</label>
						</p>
					</div>
				</div>
				<div class="buy-field">
					<label style="margin:0 20px;">
						<span style="font-size: 20px;">數量：</span>
						<input type="number" value="1" style="width:60px; font-size: 20px;">
					</label>
					<button id="add-to-cart" class="btn-highlight btn--large">放入購物書包</button>
				</div>
				<div class="social-comments">
					<div class="fb-comments" data-href="http://chenghsuanliu.github.io/ColorgyV2-frontend" data-numposts="5" data-colorscheme="light"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(window).load(function(){
		resizeComments();
		var windowWidth = $(window).innerWidth();
		var bookpicHeight = $('.book-pic').height();
		if ( windowWidth > 776 ) {
			$('.book-info').css({'height' : bookpicHeight + 'px'});
		}else{
			$('.book-info').css({'height' : 'auto'});
		}

	})
	$(window).resize(function(){
		var windowWidth = $(window).innerWidth();
		var bookpicHeight = $('.book-pic').height();
		if ( windowWidth > 776 ) {
			$('.book-info').css({'height' : bookpicHeight + 'px'});
		}else{
			$('.book-info').css({'height' : 'auto'});
		}
	})
	$('#add-to-cart').click(function(){
		//popupNotice('系統通知','已經成功加入購物車囉 :D');
		flash.success('已經成功加入購物車囉！ :D');
		$('.go-checkout').addClass('active');
		$('.cart-item-counts').html('1');
	})
	var $comments = null;
	var $fbComments = null;
	var resizeTimeout = null;

	function resizeComments() {
	  if (resizeTimeout) clearTimeout(resizeTimeout);
	  resizeTimeout = setTimeout(function() {
	    resizeTimeout = null;
	    if (typeof FB === 'undefined') return;
	    // The class of the wrapper element above is 'comments'
	    $comments = $comments || $('.social-comments');
	    $fbComments = $fbComments || $(".fb-comments");
	    if ($comments.width() !== parseInt($fbComments.attr("data-width"), 10)) {
	      $fbComments.attr("data-width", $comments.width());
	      FB.XFBML.parse($comments[0]);
	    }
	  }, 100);
	}
	$(document).ready(function() {
	  resizeComments();
	  $('.materialboxed').materialbox();
	  $(window).resize(function() {
	    resizeComments();
	  });
	});
</script>
