<div class="container-fluid">
	<div class="row row-inner-m book-show">
		<div class="col-md-12">
			<div class="row">
				<div class="book-show-box">
					<div class="col-md-6 col-sm-6">
						<div class="book-pic">
							<%= image_tag ('book-sample1.jpg') %>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="book-info">
							<div class="book-info-inner">
								<div class="book-name">
									The Management of Strategy: Concepts & Cases 10/e
								</div>
								<hr>
								<div class="book-from">
									出版社：滄海書局
								</div>
								<div class="book-edition">
									版次：10
								</div>
								<div class="book-isbn">
									ISBN：202004829194002934020104
								</div>
								<div class="book-author">
									作者：Ireland/Hoskisson/Hitt
								</div>
							</div>
							<div class="book-price">
								<span class="book-disc-price">團購價：NT 986</span>
								<span class="book-orginal-price"><del>定價：NT 1060</del></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="group-field">
				<div class="has-group-field">
					<div class="title">
						<h3><span>已開團</span><span>選擇跟團</span></h3>
					</div>
					<div class="groups-select-field">
						<p>
							<input type="checkbox" class="filled-in" id="checkbox1" />
							<label for="checkbox1">設計史/王大明老師 --- 大魟魚揪團（1/30截止繳費)</label>
						</p>
						<p>
							<input type="checkbox" class="filled-in" id="checkbox2" />
							<label for="checkbox2">設計史/王大明老師 --- 小魟魚揪團（1/30截止繳費）</label>
						</p>
					</div>
				</div>
				<div class="not-group-yet-field">
					<div class="title">
						<h3><span>未開團</span><span><a href="#">邀請班代跟團</a>或<a href="#">開團成功通知我</a></span></h3>
					</div>
					<div class="groups-select-field">
						<p>
							<input type="checkbox" class="filled-in" id="checkbox3" />
							<label for="checkbox3">設計史/王大明老師 --- 小魟魚揪團（1/30截止繳費）</label>
						</p>
					</div>
				</div>
				<div class="buy-my-self-field">
					<div class="title">
						<h3><span>自行購買</span><span>供應商直接把書送到您手上</span></h3>
					</div>
					<div class="groups-select-field">
						<p>
							<input type="checkbox" class="filled-in" id="checkbox4" />
							<label for="checkbox4">我不跟團 ( 單次購買需買五本以上，滿10本免運費 )</label>
						</p>
					</div>
				</div>
				<div class="buy-field">
					<label style="margin:0 20px;">
						<span style="font-size: 20px;">數量：</span>
						<input type="number" value="1" style="width:60px; font-size: 20px;">
					</label>
					<button class="large-btn">放入購物書包</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(window).load(function(){
		var windowWidth = $(window).innerWidth();
		var bookpicHeight = $('.book-pic').height();
		if ( windowWidth > 776 ) {
			$('.book-info').css({'height' : bookpicHeight + 'px'});
		}else{
			$('.book-info').css({'height' : 'auto'});
		}

	})
	$(window).resize(function(){
		var windowWidth = $(window).innerWidth();
		var bookpicHeight = $('.book-pic').height();
		if ( windowWidth > 776 ) {
			$('.book-info').css({'height' : bookpicHeight + 'px'});
		}else{
			$('.book-info').css({'height' : 'auto'});
		}
	})
	$('input[type=checkbox]').change(function(){
		if(this.checked){
			$('input[type="checkbox"]').not(this).prop( "checked", false );
		}
	})
</script>
