<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">即時跟團！</h4>
				<p class="strip-description">看看你的同學揪了哪些團～看到自己的課，還不快跟！</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="search-field">
				<div class="search-bar left">
					<input type="text" name="search-bar" placeholder="搜尋書名、課名、老師名">
					<input type="submit" value="Submit">
				</div>
				<div class="clear" style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="follow-group-card">
				<div class="inner">
					<div class="prof-name">
						歐巴馬
					</div>
					<div class="course-name">
						電子學
					</div>
					<div class="book-info">
						<%= image_tag('book-sample1.jpg') %>
						<span class="book-name">Microelectronic Circuits 5/e</span>
					</div>
					<div class="book-price">
						<h5 class="dsic-price">NT 888</h5>
						<h6 class="origin-price"><del>NT 1060</del></h6>
					</div>
					<div class="group-leader">
						<%= image_tag('nctuece.jpg') %>
						<span class="group-leader-name">交大電機系揪的團</span>
					</div>
					<div class="gorup-info">
						<p>102人跟團  9/30截止付款</p>
					</div>
				</div>
				<div class="follow-btn">
					<button class="large-btn">我要跟團</button>
				</div>
			</div>
		</div>
	</div>
</div>
