<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">確認揪團資料</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row row-inner-m">
		<div class="follow-group-card">
			<div class="inner">
				<div class="prof-name">
					彭盛裕
				</div>
				<div class="course-name">
					電子學
				</div>
				<div class="book-info">
					<%= image_tag('book-sample1.jpg') %>
					<span class="book-name">Microelectronic Circuits 5/e</span>
				</div>
				<div class="book-price">
					<h5 class="dsic-price">NT 986</h5>
					<h6 class="origin-price"><del>NT 1060</del></h6>
				</div>
				<div class="group-leader">
					<%= image_tag('avatar.jpg') %>
					<span class="group-leader-name">劉政軒揪的團</span>
				</div>
				<div class="gorup-info">
					<p class="delivery-time">寄送時間： 2015 / 9 / 30</p>
					<p class="delirvery-location">寄送地點： 台灣科技大學 電資系系辦</p>
					<p class="deadline">結團日期： 1/30截止付款</p>
				</div>
			</div>
			<div class="edit-btn-field">
				<button class="edit-btn"><a href="/ColorgyV2-frontend/groupon.html">修改資訊</a></button>
			</div>
			<div class="follow-btn">
				<button class="btn" id="open-group-btn"><a href="#">確定開團</a></button>
			</div>
		</div>
	</div>
</div>
<script>
	$('#open-group-btn').click(function() {
		alert('成功開團囉 ！ 將導入至跟團頁面！ 請確認您的團有出現在跟團頁面上！')
		$('.group-counter').html('1');
		window.location.replace("/ColorgyV2-frontend/follow-group.html");
	})
</script>
