<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">我要揪團</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row row-inner-m">
		<div class="col m12 s12">
			<div class="groupon-field">
				<div class="groupon-field-inner">
					<div class="groupleader-form">
						<span class="under-line-title">揪團課程</span>
						<p>＃請搜尋並選擇您想要揪團的課程</p>
						<form>
							<div class="search-field" style="background-color: transparent; padding: 15px 0px !important;">
								<div class="search-bar left">
									<input type="text" name="search-bar" placeholder="搜尋課名、老師名" id="course-searcher">
									<input type="submit" value="Submit">
								</div>
							</div>
						</form>
						<div id="course-search-results" class="course-search-results">
							<label class="course-item MicroelectronicCircuits" for="test3">
								<div class="book-img">
									<%= image_tag ('book-sample1.jpg') %>
								</div>
								<div class="course-info">
									<span>電子學</span> / <span>彭盛裕 老師</span><br>
									<span>書名: Microelectronic Circuits 5/e</span>
								</div>
								<div class="course-item-checkbox">
								    <p>
								      <input class="with-gap" name="group1" type="radio" id="test3"  />
								      <label for="test3">確認</label>
								    </p>
								</div>
							</label>
						</div>
						<span class="under-line-title">揪團細節</span>
						<p>＃請填寫開團的基本資料並送出</p>
						<form>
							<div class="input-field">
								<input value="" id="leader-name" type="text" class="validate">
								<label class="active" for="leader-name">您的大名是？</label>
							</div>
							<div class="input-field">
								<input value="" id="leader-phone" type="text" class="validate">
								<label class="active" for="leader-phone">您的手機號碼</label>
							</div>
							<div class="input-field">
								<input type="date" class="datepicker" placeholder="選擇您希望送達的日期，結團日期會在您選擇日期的三天前">
							</div>
							<div class="input-field">
								<input value="" id="pickup-address" type="text" class="validate">
								<label class="active" for="pickup-address">您希望在哪裡取書呢？ ( 可為任一可送達之地址、學校系辦..等等 )</label>
							</div>
							<div class="input-field">
								<select>
								  <option value="" disabled selected>您將為同學提供的取書模式為何？</option>
								  <option value="將書本拿至班上發送">將書本拿至班上發送</option>
								  <option value="請同學至系辦領取">請同學至系辦領取</option>
								  <option value="指定其他地點">指定其他地點</option>
								</select>
							</div>
						</form>
							<a href="/ColorgyV2-frontend/groupon-confirm.html">
								<button class="btn-highlight btn--large">發起揪團</button>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.datepicker').pickadate({
		selectMonths: true, // Creates a dropdown to control month
		selectYears: 2 // Creates a dropdown of 15 years to control year
	});
	$(document).ready(function() {
		$('select').material_select();
	});
	setInterval(function(){
		if ($('#course-searcher').val() == '電子學') {
			$('.MicroelectronicCircuits').addClass('active');
		}
		else{
			$('.MicroelectronicCircuits').removeClass('active');
		}
	},500);
</script>
