<style>
	.wrapper{
		padding-bottom: 0;
	}
</style>
<div class="container-fluid" style="padding: 0;">
	<div class="row">
		<div class="col m12 s12" style="padding: 0;">
			<div class="slideshow">
				<div class="slideshow-inner">
					<div class="layer1"></div>
					<%= image_tag('layer2.png') %>
					<div class="layer3"></div>
					<a href="/ColorgyV2-frontend/book-browser.html"><div class="layer4"></div></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row service-introduction odd">
		<div class="col m5 s12">
			<div class="icon odd">
				<%= image_tag ('man2.png') %>
			</div>
		</div>
		<div class="col m7 s12">
			<div class="text-content">
				<h3>安心、快速、便利的購物流程</h3>
				<p>全新的購物流程、更多付款的選擇、更棒尋找書籍的模式，也可認班代、主揪直接跟團，讓同學們更方便，聚集各校同學在此平台也讓這裡只要買一本書即為團購價！</p>
			</div>
		</div>
	</div>
	<div class="row service-introduction">
		<div class="col m7 s12">
			<div class="text-content even">
				<h3>班代、主揪更輕鬆啦！</h3>
				<p>省去班代、主揪統計、收錢、加退訂書的麻煩，專用主揪介面讓你看到所有跟團的同學，一目瞭然，到貨地點選擇也更加自由，再也不煩惱。</p>
			</div>
		</div>
		<div class="col m5 s12">
			<div class="icon even">
				<%= image_tag ('man1.png') %>
			</div>
		</div>
	</div>
	<div class="row service-introduction odd" style="padding-bottom: 0;">
		<div class="col m5 s12">
			<div class="icon odd">
				<%= image_tag ('man3.png') %>
			</div>
		</div>
		<div class="col m7 s12">
			<div class="text-content">
				<h3>快速地配送模式</h3>
				<p>成團即出貨，絕不拖延同學們拿到書的時間，保障大家有書上課的權力！</p>
			</div>
		</div>
		<div class="col m12 s12 go-login">
			<div class="go-login-inner">
				<h4>快加入這個為你們量身打造的便利購書服務吧！</h4>
				<a href="/ColorgyV2-frontend/book-browser.html"><button class="large-btn larger-btn">立即登入</button></a>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.layer1').addClass('active');
		var delay = setTimeout(function(){
		$('.layer3').addClass('active');
	     }, 1100);
		var delay = setTimeout(function(){
		$('.layer4').addClass('active');
	     }, 1500);
	})
</script>
