<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="product-box">
				<div class="product-box-inner">
					<div class="product-box-pic">
						<%= image_tag ('book-sample1.jpg') %>
					</div>
					<div class="product-box-info">
						<div class="product-box-name">
							Microelectronic Circuits
						</div>
						<div class="product-box-subname">
							版次 ： 5 / e
						</div>
						<div class="product-box-origin">
							作者 ： Sedra Smith
						</div>
						<div class="product-box-price">
							<span class="product-box-originprice">定價 ： 1399</span>
							<span class="product-box-realprice">團購價 ： 899</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="search-bar">
				<input type="text" name="search-bar" placeholder="搜尋書名、課名、老師名">
				<input type="submit" value="Submit">
			</div>
		</div>
	</div>
</div>

