<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">主揪介面</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="leader-groups">
			<div class="title">

			</div>
			<div class="leader-groups-inner">
				<table class="responsive-table hoverable">
					<thead>
						<tr>
							<th>您揪的團</th>
							<th>到書時間</th>
							<th>您告訴同學的發書地點</th>
							<th>物流狀況</th>
							<th>查看</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">電子學 / 彭盛裕</a></td>
							<td>2015-9-30</td>
							<td>班上發書</td>
							<td><div class="situation-not-send">尚未發貨</div></td>
							<td><a href="#"><button class="look-btn"><i class="mdi-action-search"></i></button></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
