<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">主揪介面</h4>
				<p class="strip-description"> - 電子學 / 彭盛裕</p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="group-show">
			<div class="group-show-book-info">
				<div class="title">
					書本資訊
				</div>
				<hr>
				<div class="book-pic">
					<%= image_tag('book-sample1.jpg') %>
				</div>
				<div class="book-name">
					Microelectronic Circuits
				</div>
				<div class="book-author">
					作者 ： Sedra Smith
				</div>
				<div class="book-edition">
					版次 ： 5 / e
				</div>
			</div>
			<div class="group-show-members">
				<div class="title">
					跟團同學
				</div>
				<hr>
				<table>
					<thead>
						<tr>
							<th>同學</th>
							<th>購買本數</th>
							<th>付款情況</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="#">
									<p class="leader-name">劉政軒</p>
									<div class="leader-avatar">
										<%= image_tag ('avatar.jpg') %>
									</div>
								</a>
							</td>
							<td>2</td>
							<td>
								<div class="situation-has-paid">
									已付款
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">
									<p class="leader-name">劉政軒</p>
									<div class="leader-avatar">
										<%= image_tag ('avatar.jpg') %>
									</div>
								</a>
							</td>
							<td>2</td>
							<td>
								<div class="situation-has-paid">
									已付款
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
