<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">主揪介面</h4>
				<p class="strip-description">幫助您管理您的揪團！</p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="leader-groups">
			<div class="title">
				<p>＃這裡是您所有的揪團，進入查看跟團者們的付款狀態，如果您已經拿到書點擊進入之後將變成發書小幫手介面。</p>
			</div>
			<div class="leader-groups-inner">
				<table class="responsive-table hoverable">
					<thead>
						<tr>
							<th>您揪的團</th>
							<th>到書時間</th>
							<th>您告訴同學的發書地點</th>
							<th>物流狀況</th>
							<th>查看 / 發書小幫手</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="/ColorgyV2-frontend/leader-group-show.html">電子學 / 彭盛裕</a></td>
							<td>2015-9-30</td>
							<td>班上發書</td>
							<td><div class="situation-not-send">尚未發貨</div></td>
							<td><a href="/ColorgyV2-frontend/leader-group-show.html"><button class="look-btn"><i class="mdi-action-search"></i></button></a></td>
						</tr>
						<tr>
							<td><a href="/ColorgyV2-frontend/leader-group-show2.html">電子學 / 彭盛裕</a></td>
							<td>2015-9-30</td>
							<td>班上發書</td>
							<td><div class="situation-has-got">已取貨</div></td>
							<td><a href="/ColorgyV2-frontend/leader-group-show2.html"><button class="look-btn"><i class="mdi-editor-border-color"></i></button></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
