<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">完成訂購！</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="order-complete">
			<div class="notice">
				<h5><i class="mdi-action-done-all"></i>您已完成訂購程序！請在繳款期限內繳費完畢，剩下就只要等書來就可以囉！ :D</h5>
			</div>
			<hr>
			<div class="payment">
				<div class="title">付款資訊</div>
				<div class="description">請在時間內完成付款！</div>
				<div class="col-md-6">
					<div class="payment-info">
						<div class="inner">
							<p class="">轉入銀行： 永豐銀行 代碼807</p>
							<p class="">轉入帳號： 94655231 234567890</p>
							<p class="">轉入金額： 新台幣 3390 元</p>
							<div class="payment-notice">
								<i class="mdi-alert-error"></i>
								<p>請務必轉入和以上顯示相同之金額，若此金額和 ATM 機顯示實際繳款金額不符，將以退款處理 (退款發生時，將產生退款處理手續費)</p>
							</div>
							<p class="">繳款期限： 2015-09-30 00:57:20</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="payment-countdown">

					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<hr>
			<div class="order-info">
				<div class="title">訂單明細</div>
				<div class="order-confirm-table">
					<table class="responsive-table">
						<thead>
							<tr>
								<th>書名</th>
								<th>作者</th>
								<th>版次</th>
								<th>課名 / 老師</th>
								<th>價格</th>
								<th>數量</th>
								<th>小計</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>The Management of Strategy: Concepts & Cases 10/e</td>
								<td>Ireland/Hoskisson/Hitt</td>
								<td>10</td>
								<td>設計史 / 王大明</td>
								<td>986</td>
								<td>2</td>
								<td>1972</td>
							</tr>
							<tr>
								<td>The Management of Strategy: Concepts & Cases 10/e</td>
								<td>Ireland/Hoskisson/Hitt</td>
								<td>10</td>
								<td>設計史 / 王大明</td>
								<td>986</td>
								<td>2</td>
								<td>1972</td>
							</tr>
							<tr>
								<td>The Management of Strategy: Concepts & Cases 10/e</td>
								<td>Ireland/Hoskisson/Hitt</td>
								<td>10</td>
								<td>設計史 / 王大明</td>
								<td>986</td>
								<td>2</td>
								<td>1972</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
