<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">確認訂單！</h4>
				<p class="strip-description">在送出訂單之前仔細確認過吧！</p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="order-confirm-table">
			<table class="responsive-table">
				<thead>
					<tr>
						<th>書名</th>
						<th>作者</th>
						<th>版次</th>
						<th>課名 / 老師</th>
						<th>價格</th>
						<th>數量</th>
						<th>小計</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>The Management of Strategy: Concepts & Cases 10/e</td>
						<td>Ireland/Hoskisson/Hitt</td>
						<td>10</td>
						<td>設計史 / 王大明</td>
						<td>986</td>
						<td>2</td>
						<td>1972</td>
					</tr>
					<tr>
						<td>The Management of Strategy: Concepts & Cases 10/e</td>
						<td>Ireland/Hoskisson/Hitt</td>
						<td>10</td>
						<td>設計史 / 王大明</td>
						<td>986</td>
						<td>2</td>
						<td>1972</td>
					</tr>
					<tr>
						<td>The Management of Strategy: Concepts & Cases 10/e</td>
						<td>Ireland/Hoskisson/Hitt</td>
						<td>10</td>
						<td>設計史 / 王大明</td>
						<td>986</td>
						<td>2</td>
						<td>1972</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row row-inner">
		<div class="col-md-4">
			<div class="order-options-confirm">
				<div class="content">
				    <p>
				      <input name="payment" type="radio" id="payment" checked="checked" />
				      <label for="payment">超商付款</label>
				    </p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="order-options-confirm">
				<div class="content">
				    <p>
				      <input name="reciept" type="radio" id="reciept" checked="checked" />
				      <label for="reciept">電子發票</label>
				    </p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="order-options-confirm">
				<div class="content">
				    <p>
				      總計： NT. 5916
				    </p>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="order-confirm-submit">
				<button class="process-btn"><a href="/ColorgyV2-frontend/order-confirm.html">送出訂單</a></button>
			</div>
		</div>
		<!--
		<div class="col-md-4 col-md-offset-8">
			<div class="process-action-card">
				<div class="inner">
					<div class="info">付款方式 ： 線上刷卡</div>
					<div class="info">發票種類 ： 電子發票</div>
					<button class="process-btn">送出訂單</button>
				</div>
			</div>
		</div>
		-->
	</div>
</div>
