<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">常見問題</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="collapse-field-with-title">
				<div class="title">
					問題主題打在這邊
					<div class="trigger"></div>
				</div>
				<div class="content">
					123456789
				</div>
			</div>
			<div class="collapse-field-with-title">
				<div class="title">
					問題主題打在這邊
					<div class="trigger"></div>
				</div>
				<div class="content">
					123456789
				</div>
			</div>
			<div class="collapse-field-with-title">
				<div class="title">
					問題主題打在這邊
					<div class="trigger"></div>
				</div>
				<div class="content">
					123456789
				</div>
			</div>
			<div class="collapse-field-with-title">
				<div class="title">
					問題主題打在這邊
					<div class="trigger"></div>
				</div>
				<div class="content">
					123456789
				</div>
			</div>
		</div>
	</div>
</div>
