<div class="container-fluid">
	<div class="row">
		<div class="content-strip primary">
			<div class="content-strip-inner">
				<h4 class="strip-title">超商付款說明</h4>
				<p class="strip-description"></p>
			</div>
		</div>
	</div>
	<div class="row row-inner">
		<div class="col m3 s6">
			<div class="supermarket-payment-info-item">
				<a href="#">
					<%= image_tag('711-logo.png') %>
					<button class="large-btn">查看流程</button>
				</a>
			</div>
		</div>
		<div class="col m3 s6">
			<div class="supermarket-payment-info-item">
				<a href="#">
					<%= image_tag('family-logo.png') %>
					<button class="large-btn">查看流程</button>
				</a>
			</div>
		</div>
		<div class="col m3 s6">
			<div class="supermarket-payment-info-item">
				<a href="#">
					<%= image_tag('hi-life-logo.png') %>
					<button class="large-btn">查看流程</button>
				</a>
			</div>
		</div>
		<div class="col m3 s6">
			<div class="supermarket-payment-info-item">
				<a href="#">
					<%= image_tag('ok-logo.png') %>
					<button class="large-btn">查看流程</button>
				</a>
			</div>
		</div>
	</div>
</div>
